<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<section class="blog section">
		<div class="container">
			<div class="row">
				{{ range (.Paginator 12).Pages }}
				<div class="col-md-4">
					<article class="blog-post">
						{{ with .Params.image }}
						<img src="{{ . | absURL }}" class="img-responsive" alt="post-thumb"> {{ end }}
					</div><div class="col-md-8">
						<a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
						<h4>{{ .Params.subtitle }}</h4>
						<p>
							{{ .Summary }}
						</p>
						<a href="{{ .Permalink }}" class="btn btn-main">Check it Out</a>
					</article>
				</div>
				<div class="clearfix"></div>
				{{ end }}
			</div>
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>
