{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="row">
      <div class="col-md-12">
        {{ range $data.bradley.portfolio }}
        <div class="feature-title">
          <h1>{{ .title }}</h1>
        </div>
        <hr />
        <div class="feature-container">
          {{ range .items }}
          <div class="feature-div">
            <img src="{{ $.Site.BaseURL }}{{ .image }}" onerror="this.src='{{ $.Site.BaseURL }}{{ .imageAlt }}'" />
            <h2>{{ .name }}</h2>
            <p>{{ .description }}</p>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
</section>
