<section id="feature" style="background-image: url('{{ .Site.Params.feature.bgImage | absURL }}'),url('{{ .Site.Params.feature.bgImageAlt | absURL }}');">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 class="text-uppercase">{{ .Site.Params.feature.title }}</h2>
      <p>
      	{{ .Site.Params.feature.content | markdownify }}
      </p>
      {{ with .Site.Params.feature.button }}
      {{ end }}
    </div>
  </div>
</div>
</section>
